footer{
    background-color: var(--oxford-blue);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: 30px;
        color: var(--white);
    }
}