header{
    background-color: var(--oxford-blue);
    height: 80px;
    display: flex;
    justify-content: space-between;
    .pg-left-div{
        width: 50%;
        margin-left: 15px;
        a{
            height: 100%;
            display: inline-block;
            aspect-ratio: 1 / 1;
            img{
            height: 100%;
            width: 100%;
            }
        }
    }
    .pg-right-div{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        .pg-nav-wrapper{
            width: 500px;
            min-width: 400px;
            display: flex;
            justify-content: space-around;
            .pg-button-wrapper{
                display: flex;
                align-items: center;
                button{
                    a{
                        text-decoration: none;
                        color: var(--white);
                    }
                }
            }
            nav{
                width: 300px;
                display: flex;
                align-items: center;
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    a{
                        text-decoration: none;
                        color: var(--white);
                        transition: all .3s;
                    }
                    a:hover{
                        text-decoration: underline;
                        color: var(--white);
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}