aside{
    background-color: yellow;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 20px;
    ul{
        transition: all .5s;
        overflow: hidden;
        list-style: none;
        padding-left: 15px;
        margin-top: 10px;
        li{
            cursor: pointer;
            margin-bottom: 10px;
            span.submenu-arrow{
                display: inline-block;
                transition: transform 0.3s ease;
                font-weight: 800;
                margin-left: 30px;
            }
            span.submenu-arrow.open{
                transform: rotate(90deg);
            }
        }
    }
    ul.visible{
        max-height: 300px;
        margin-top: 5px;
    }
    ul.visible.medium-menu{
        max-height: 200px;
        margin-top: 5px;
    }
    ul.visible.small-menu{
        max-height: 100px;
        margin-top: 5px;
    }
    ul.visible.xsmall-menu{
        max-height: 50px;
        margin-top: 5px;
    }
    ul.hided{
        margin-top: 0px;
        max-height: 0px;
    }
}