.btn{
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: var(--fw-bold);
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all .3s;
}

.btn:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn.btn-outline:hover{
    background-color: var(--antiflash-white) !important;
    color: var(--black) !important;
}

.btn.btn-confirm{
    background-color: var(--pigment-green);
    border: 2px solid var(--pigment-green);
    color: var(--primary-color);
}

.btn.btn-danger{
    background-color: var(--mikado-yellow);
    border: 2px solid var(--mikado-yellow);
    color: var(--black);
}

.btn:hover{
    background-color: var(--primary-color-dark);
}

.btn.btn-confirm:hover{
    background-color: var(--dark-pastel-green);
    border: 2px solid var(--dark-pastel-green);
}

.btn.btn-danger:hover{
    background-color: var(--gold);
    border: 2px solid var(--gold);
}