* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  max-width: 1400px !important;
}

body{
  scroll-behavior: smooth !important;
}

.pg-container{
  width: 100%;
  padding: 10px;
}

.pg-card{
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 10px 10px 45px -10px rgba(66, 68, 90, 0.3), inset 0px 0px 60px -20px rgba(192, 192, 192, 0.3);
}