footer{
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: 30px;
    }
}

footer span{
    font-size: 30px;
}