header{
    background-color: var(--confirm-color-dark);
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    .pg-left-div{
        margin-left: 15px;
        width: 50%;
        a{
            height: 100%;
            display: inline-block;
            aspect-ratio: 1 / 1;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    .pg-right-div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        button{
            a{
                text-decoration: none;
                color: var(--balck);
            }
        }
    }
}