.pg-object-contaier{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 45px -10px rgba(66, 68, 90, 0.3), inset 0px 0px 60px -20px rgba(192, 192, 192, 0.3);
    .pg-table{
        border-spacing: 0;
        width: 100%;
        border-radius: 5px;
        .pg-tr{
            display: flex;
        }
        .pg-table-head{
            position: relative;
            text-align: center;
            .pg-table-row{
                background-color: var(--confirm-color-dark);
                color: var(--white);
                font-weight: var(--fw-bold);
                display: flex;
                transition: all .3s;
                height: auto;
                form{
                    display: flex;
                    width: 100%;
                }
                .pg-th{
                    color: var(--primary-color);
                    .pg-input-wrapper.hided{
                        max-height: 0px;
                        opacity: 0;
                        transition: all .3s;
                    }
                    .pg-input-wrapper{
                        max-height: 100px;
                        opacity: 1;
                        transition: all .3s;
                        .pg-filters-container{
                            position: relative;
                            width: 10px;
                            display: inline-block;
                            .pg-filters-select{
                                position: absolute;
                                z-index: 1000;
                                opacity: 1;
                                top: calc(100%);
                                left: -5%;
                                width: 70px;
                                border-radius: 5px;
                                transition: all .3s;
                                background-color: var(--white);
                                color: var(--black);
                                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                border: none;
                                padding: 5px 10px;
                            }
                            .pg-filters-select.hidden{
                                opacity: 0;
                            }
                        }
                        .form-input{
                            width: 70%;
                            max-width: 150px;
                            display: inline-block;
                            min-width: 0px;
                        }
                    }
                }
            }
            .pg-table-row.pg-height-increased{
                height: 130px;
            }
            .pg-input-fields{
                opacity: 0;
                display: none;
            }
            .pg-search-button{
                position: absolute;
                top: 0;
                left: 5px;
            }
        }
        .pg-tbody-container{
            max-height: 470px;
            overflow-y: auto;
            .pg-tbody{
                display: flex;
                flex-direction: column;
                .pg-tr:nth-child(odd) {
                    background-color: var(--primary-color);
                    filter: brightness(1);
                    transition: filter 0.5s;
                    cursor: pointer;
                }
                .pg-tr:nth-child(odd):hover {
                    filter: brightness(0.85);
                }
                .pg-tr:nth-child(even) {
                    background-color: var(--antiflash-white);
                    filter: brightness(1);
                    transition: filter 0.5s;
                    cursor: pointer;
                }
                .pg-tr:nth-child(even):hover {
                    filter: brightness(0.85);
                }
            }
        }
        .pg-td.pg-col,.pg-th.pg-col{
            padding: 10px 20px;
            overflow: hidden;
        }
        .pg-td.pg-col{
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .pg-td.pg-col.pg-no-data{
            width: 100%;
            text-align: center;
        }
    }
}